---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import AnimeCard from "../components/AnimeCard.astro";
import Footer from "../components/Footer.astro";
import MainHero from "../components/MainHero.astro";
const popularAnime = await getCollection("anime");
---

<Layout title="Aniflow - Tu fuente de anime personalizada">
  <Navbar />
  <main class="max-w-7xl mx-auto">
    <MainHero />
    <section
      class="grid grid-cols-1 mx-5 gap-6 sm:grid-cols-2 xl:mx-0 xl:grid-cols-3"
    >
      {
        popularAnime
          .slice(0, 6)
          .map((anime) => (
            <AnimeCard
              title={anime.data.title}
              coverImage={anime.data.coverImage}
              status={anime.data.status}
              slug={anime.data.slug}
              episodesTotal={anime.data.episodesTotal}
              canon={anime.data.canonEpisodes}
              relleno={anime.data.fillerEpisodes}
              mixto={anime.data.mixedEpisodes}
            />
          ))
      }
    </section>
  </main>
  <Footer />
</Layout>
