---
import { getCollection } from "astro:content";

const animes = await getCollection("anime");
---

<div>
  <h2 class="text-2xl font-bold mb-4 px-10">Animes</h2>
  <section class="flex gap-4 px-10">
    {
      animes.map((anime) => (
        <article class="group relative h-120 w-80 overflow-hidden rounded-2xl bg-black shadow-lg">
          <a
            href={`/animes/${anime.data.slug}`}
            class="absolute inset-0 z-10"
          />
          <img
            src={anime.data.coverImage}
            alt={anime.data.title}
            class="absolute inset-0 h-full w-full object-cover transition-transform duration-500 group-hover:scale-105"
          />

          <div class="absolute inset-0 bg-gradient-to-t from-black via-black/40 to-transparent" />

          <div class="absolute bottom-0 left-0 right-0 p-6">
            <span class="mb-4 inline-block rounded-md bg-emerald-500 px-4 py-1 text-sm font-bold uppercase tracking-widest text-black">
              {anime.data.genres[0]}
            </span>

            <h3 class="text-3xl font-black text-white">{anime.data.title}</h3>

            <div class="mt-3 flex items-center gap-2 text-lg text-gray-300">
              <span class="text-pink-300">☆</span>
              <span>•</span>
              <span>Ep {anime.data.episodesCount}</span>
            </div>
          </div>
        </article>
      ))
    }
  </section>
</div>
