---
import { getCollection } from "astro:content";
import Tags from "../components/Tags.astro";

const allAnime = await getCollection("anime");

const randomIndex = Math.floor(Math.random() * allAnime.length);
const randomAnime = allAnime[randomIndex];

const { title, coverImage, slug, episodesTotal, status, stats, genres } =
  randomAnime.data;

const randomGenreIndex = Math.floor(Math.random() * genres.length);
const randomGenre = genres[randomGenreIndex];
---

<div
  class="grid grid-cols-1 md:grid-cols-2 gap-10 items-center py-20 mx-4 xl:mx-0"
>
  <div class="absolute top-0 left-0 w-full h-full -z-10">
    <div
      class="absolute top-1/15 left-1/4 w-100 h-100 bg-primary/30 rounded-full blur-[150px]"
    >
    </div>
    <div
      class="absolute top-1/5 right-2/6 w-100 h-80 bg-primary/20 rounded-full blur-[100px]"
    >
    </div>
    <div
      class="absolute top-1/4 right-2/4 w-75 h-75 bg-primary/10 rounded-full blur-[100px]"
    >
    </div>
  </div>
  <div
    class="absolute -z-10 inset-0 bg-[url('data:image/svg+xml,%3Csvg%20width%3D%2260%22%20height%3D%2260%22%20viewBox%3D%220%200%2060%2060%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cg%20fill%3D%22%239C92AC%22%20fill-opacity%3D%220.05%22%3E%3Cpath%20d%3D%22M36%2034v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6%2034v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6%204V0H4v4H0v2h4v4h2V6h4V4H6z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E')] opacity-30"
  >
  </div>
  <!-- CONTENIDO -->
  <div class="space-y-3 pt-20">
    <h1 class="text-5xl font-extrabold leading-tight">
      Mira anime <br />
      <span class="text-primary">sin rellenos</span>
    </h1>

    <p class="text-xl max-w-xl leading-relaxed text-gray-400">
      Identifica episodios canon, relleno y mixtos en segundos. Optimiza tu
      experiencia.
    </p>
  </div>

  <!-- Cartita -->
  <div class="flex justify-center md:justify-end">
    <a href=`/anime/${slug}`>
      <div
        class="w-64 h-80 rounded-3xl border border-white/10 overflow-hidden shadow-2xl transform hover:rotate-2 transition-transform duration-500 hover:border-primary/30 hover:shadow-[0_0_40px_rgba(0,112,243,0.15)]"
      >
        <div class="rounded-3xl overflow-hidden w-64 shadow-xl">
          <div class="h-40 w-full overflow-hidden">
            <img
              src={coverImage}
              alt={title}
              class="w-full h-full object-cover object-top"
            />
          </div>

          <div class="p-6">
            <div class="flex gap-2">
              <span
                class="capitalize rounded-md px-3 py-1 text-xs font-medium bg-primary/80 text-white"
                >Randomizer</span
              >
              <span
                class={`capitalize rounded-md px-3 py-1 text-xs font-medium ${
                  status === "ongoing"
                    ? "bg-[#22C55E]/80 text-white"
                    : "bg-black/20 dark:bg-white/20 dark:text-white/80"
                }`}>{status === "finished" ? "finalizado" : "en emisión"}</span
              >
            </div>

            <h3 class="font-display font-bold text-xl line-clamp-1 mb-2">
              {title}
            </h3>
            <p class="text-[#71717A] text-sm mb-4">{episodesTotal} Episodios</p>

            <div class="flex flex-wrap gap-2">
              <Tags name={randomGenre} />
              <span
                class="max-h-max capitalize rounded-md px-3 py-1 text-xs font-medium bg-filler/80 text-white"
                >{stats.fillerPercent}% Relleno</span
              >
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
